<div class="intro-box">
  <h1 class="title">S P R I N G 2 0 1 7 </h1>
</div>

  <header class="bg-img header">
    <div class="container">
      <div class="row">
          <div class="intro-box">
              <div class="intro">
                  <h1 style="padding-top :150px; padding-bottom: 100px;">Welcome to Beautys </h1><br /><br />
                  <hr />
                  <a class="btn-log vira-btn"  href="products">Click this to explore </a>
                  <hr />
              </div>
          </div>
      </div>
    </div>
  </header>

<div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="thumbnail">
             <img src="http://nord.imgix.net/Zoom/11/_100348871.jpg?fit=fill&bg=FFF&fm=jpg&w=860&h=1318&q=60" alt="nopic" class = "img-thhumbnail">
             <div class="caption">
            <h4>NEW/NOW</h4>
              <h6>The news you need to know;</h6>
              <h6> the things you need to own.</h6>
          </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="thumbnail">
             <img src="http://nord.imgix.net/Zoom/7/_100348867.jpg?fit=fill&bg=FFF&fm=jpg&w=860&h=1318&q=60" alt="nopic" class = "img-thhumbnail">
             <div class="caption">
             <h4>THE MIX IS IT</h4>
               <h6>Spring fashion breaks the rules.</h6>
               <h6>What's new:how you put it all together.</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-12 ">
        <div class="thumbnail">
           <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcowahyrm7j313u0hg7an.jpg" alt="nopic" class = "img-thhumbnail">
         </div>
        </div>
     </div>
</div>

  <section id="contact" class="contact section">
  <div class="container">
      <h2 class="title">Drop us a line</h2>
      <div class="row">
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                      <span class="fa fa-map-o" aria-hidden="true"></span>
                  </div>
                  <div class="vira-card-content">
                      <h3>Address</h3>
                      <p>
                          Shanghai, China
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                      <span class="fa fa-phone" aria-hidden="true"></span>
                  </div>
                  <div class="vira-card-content">
                      <h3>Phone</h3>
                      <p>
                          +021 6238237
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                          <span class="fa fa-paper-plane" aria-hidden="true"></span>
                  </div>
                  <div class="vira-card-content">
                      <h3>Email</h3>
                      <p>
                          info@beautys.com
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="social-icons">
                  <ul>
                      <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                      <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                      <a href="#"><li><span class="ion-social-pinterest"></span></li></a>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  </section>
